.banner-button {
    width: 242px;
    height: 54px;
    margin: 18px 101px 0 100px;
    padding: 16px 75px 15px;
    color: rgb(245, 238, 238);
    background-color: red;
    text-align: center;
    font-size: 18px;
  }
  .btn-brown  {
    width: 242px;
    height: 54px;
    color: rgb(245, 238, 238);
    background-color: red;
    text-align: center;

  }